a {
  width: 100px;
  display: block;
  float: left;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: white;
}

.tab {
  width: 500px;
  height: 100px;
  clear: left;
}

.tag1 {
  background-color: orange;
}

.tag2 {
  background-color: blue;
}

.tag3 {
  background-color: yellow;
}

#tab1 {
  background-color: orange;
}

#tab2 {
  background-color: blue;
  display: none;
}

#tab3 {
  background-color: yellow;
  display: none;
}
