body {
  background-color: rgba(92, 222, 205);
}

button.start {
  margin-top: 250px;
  margin-left: 500;
  margin-right: auto;
  padding: 10px 30px;
}
div {
  text-align: center;
}

.title {
  font-size: 80px;
  text-align: center;
  color: white;
}
.subtitle {
  font-size: 50px;
  text-align: center;
  color: white;
}
