.tabs a {
  width: 100px;
  display: block;
  float: left;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: black;
}

.tab {
  width: 500px;
  height: 150px;
  clear: left;
}

.tab1 {
  background-color: yellow;
}

.tab2 {
  background-color: blue;
  display: none;
}

.tab3 {
  background-color: red;
  display: none;
}
