.col-3 {
  width: 33.333%;
  float: left;
  overflow: hidden;
  margin: 0 auto;
  height: 200px;
  background-color: green;
}

.col-9 {
  text-align: center;
  width: 75%;
  float: left;
  overflow: hidden;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.all {
  width: 800px; /* 幅指定 */
  height: 90px; /* 高さ指定 */
  margin: 0 auto; /* 中央寄せ */
}
