caption{font-size: 30px; font-weight: bold}
td.nashi{text-align: center;}
table, th, td{border: solid 3px #572100; border-collapse: collapse;}
.time{background-color: #f2c6bb}
.youbi{background-color: #b7edc6}
