h1 { color:#0000FF;
 }

 table { 
      border-collapse: collapse;
      border-color: black;
      text-align: center;
  }

  th {
      border-style: solid solid double solid;
      border-width: 2px 2px 5px 2px;
  }

  td {
      border: 1px solid #ddd;
      border-color: #000000
  }
